<div id="form_book">
<%= form_for [@job, @bookmark] do |f| %>
  <%= f.hidden_field :job_id, value: @job.id %>
<%= f.submit t("global.job.bookmark"), id: "bookmark_button", class: "btn btn-primary btn-lg bookmark" %>
<% end %>
</div>

<script>
$(document).ready(function(){

  $("#form_book form").on('submit',function(event){
    event.preventDefault();
    var formHTML = event.target;

    $.ajax({
      url: formHTML.action,
      method: 'POST',
      data: $(this).serialize(),
      success: function(data){
        $('#form_book').html(data);
      }
    });
  });
});
</script>




