<div class="text-center">
	<h1>Loading....</h1>
</div>
<script charset="utf-8">
  var stripe = Stripe('pk_test_51HFsxvG9bUYO4k25iebGIL340a7i073u4ch3u6zRJ6uauB1aMvRHbMfz87GcTL30UZIkvUregfoWBmlRQtObuhsV00PSez4Onp');
  stripe.redirectToCheckout({ sessionId: "<%= @session.id %>" });
</script>