<div class="form-skill">
  <%= form_for [ @cv_skill ]  do |f| %>
    <div class="select-Skill">
      <%= f.select :skill_id, options_from_collection_for_select(Skill.all, "id", "name") %>
    </div>
    <div class="submit-skill">
       <input class="btn btn-danger skill-cancel" type="button" value="<%= t('skill.cancel') %>">
      <%= f.submit t("skill.addSkill"),id:"btn-update-skill", class: "hello btn btn-up"%>
    </div>
  <%end%>
</div>

<script type="text/javascript">
  $(".form-skill form .skill-cancel").on('click',function(event) {
    $('.form-skill').remove();
  });

  $(document).ready(function() {
    var a = true;
    $("#btn-update-skill").on('click',function(event) {
      $('ul[id="skills"] div[class="deleteButton"] li span[id="submitted-skill"]').each(function(){
        if($(this).text() == $('select[id="cv_skill_skill_id"] option:selected').text())
        {
          a=false;
        }
      });
      });

    $(".form-skill form").on('submit',function(event) {
      event.preventDefault();
      var formHTML = event.target;
      $.ajax({
        url: formHTML.action,
        method: 'POST',
        data: $(this).serialize(),
        success: function(data){
          if(a){
          $('#cv_skill_section').html(data);
          }
          else{
            alert("Skill already exist!\n\Kỹ năng đã được tạo!");
            $('.form-skill').remove();
          }
        }
      });
    });
  });
</script>
