<div class="add-skill" id="add-skill">
  <input type="button" class="btn add-skill-button" id="add-skill-button" value=" ✚ ">
</div>
<div class="CvSkillForm" id="CvSkillForm">
  <%= render "cv_skills/skill_form" %>
</div>
<div class="listUserSkill">
  <%= render "cv_skills/skill" %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.form-skill').hide();

    $("#add-skill .add-skill-button").on('click',function(event) {
      event.preventDefault();
      $('.form-skill').remove();
      $.ajax({
        url: '<%= new_cv_skill_path %>',
        method: 'GET',
        success: function(data){
          $('#CvSkillForm').append(data);
        }
      });
    });
  });
</script>
