<div class="popup-edit-user-contact">
  <button class="open-button-edit-user-contact" onclick="openForm()">
    <%= "To edit" %>
  </button>
  <div class="form-popup" id="profileForm-popup" style="display:none;">
    <div class="form-edit-user-contact">
      <form>
        <label class="content-edit" for="phone"><b>Phone</b></label>
        <input type="text" placeholder="Enter Phone" name="phone" required>

        <label for="address"><b>Address</b></label>
        <input type="text" placeholder="Enter Address" name="address" required><br>

        <label for="sex"><b>Sex: </b></label>
        <input type="radio" name="sex" required>Male
        <input type="radio" name="sex" required>Female

        <br>
        <label for="birthday"><b>Birthday</b></label><br>
        <input type="date" placeholder="Enter Birthday" name="birthday" required><br><hr>

        <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
        <button type="submit" class="btn">Update</button>
      </form>
    </div>
  </div>
</div>

<script>
function openForm() {
  document.getElementById("profileForm-popup").style.display = "block";
}

function closeForm() {
  document.getElementById("profileForm-popup").style.display = "none";
}
</script>
