<button class="setting-and-edit" onclick="openForm2()">
  <%= "To edit" %>
</button>
<div class="border border-secondary rounded" id="myForm" style="display:none;">
  <div class="p-4">
        <form>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter new skill and confirm key">
            <small id="emailHelp" class="form-text text-muted">Maybe this skill is...? (click to register)</small>
          </div>
          <div class="text-right">
            <button type="button" class="btn cancel" onclick="closeForm2()">Cancel</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
  </div>
</div>

<script>
function openForm2() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm2() {
  document.getElementById("myForm").style.display = "none";
}
</script>
