<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
    <title>Problog Website Template | Home :: W3layouts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
  </head>
  <body>
      <div class="header">
        <div class="wrap">
        <div class="logo">
          <a href="https://vnexpress.net/"><%= image_tag('loginews1.png',class: "rounded-circle", style: "width: 300px; height: 150px")%>  </a>
        </div>
        <div class="clear"> </div>
      </div>
      </div>
            <div class="clear"> </div>
          </div>
          <div class="clear"> </div>
          <div class="bloger-grid">
            <div class="blog-img">
               <%= image_tag('baynews.jpg', title: "img6")%>
            </div>
            <div class="bloger-content">
              <h5><a href="single.html">  <tbody>
       <% @news.each do |news| %>
       <tr>
        <td><%= link_to news.content, news.link%></td>
   <% end %>
  </tbody>
          </p>
              <ul>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">: 23-02-1989</a></li>
                <li><a href="https://vnexpress.net/"><span>Read more</span></a></li>
              </ul>
            </div>

            <div class="clear"> </div>

          </div>
          </div>
  </body>
</html>
