<ul id="edit_language">
  <% current_user.cv.cv_languages.each do |cv_language| %>
    <div class="deleteButton">
      <li><span class='form-control' id="submitter-skill"><%= cv_language.language.name %></span>
        <div class="skillDelete">
          <%= link_to t("global.delete"), cv_language, remote: true, method: :delete,
          data: { confirm: t("global.yousure") },class: 'btn btn-outline-secondary destroy' %>
        </div>
      </li>
    </div>
  <% end %>
</ul>
