<div class="form_language">
  <%= form_for @cv_language  do |f| %>
    <div class="select-language">
      <%= f.select :language_id, options_from_collection_for_select(Language.all, "id", "name") %>
    </div>
    <div class="submit-language">
      <input class="btn btn-danger language-cancel" type="button" value="<%= t('global.language.cancel') %>">
      <%= f.submit t("global.language.up"), class: "hello btn btn-up"%>
    </div>
  <%end%>
</div>

<script type="text/javascript">
  $(".form_language form .language-cancel").on('click',function(event) {
    $('.form_language').remove();
  });

  $(document).ready(function() {
    $(".form_language form").on('submit',function(event) {
      event.preventDefault();
      var formHTML = event.target;
      $.ajax({
        url: formHTML.action,
        method: 'POST',
        data: $(this).serialize(),
        success: function(data){
          $('#cv_language_section').html(data);
        }
      });
    });
  });
</script>


