<div class="languade" id="language">
  <input type="button" class="btn add-language" id="add-language-button" value=" ✚ ">
</div>
<div class="listLanguage">
  <%= render "cv_languages/cv_language" %>
</div>
<div class="languageForm" id="languageForm">
  <%= render "cv_languages/cv_language_form" %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.form_language').hide();
    $("#language .add-language").on('click',function(event) {
      event.preventDefault();
      $('.form_language').remove();
      $.ajax({
        url: '<%= new_cv_language_path %>',
        method: 'GET',
        success: function(data){
          $('#languageForm').append(data);
        }
      });
    });
  });
</script>
