<ul id="edit_language">
  <% current_user.cv.cv_languages.each do |cv_language| %>
    <div class="deleteButton">
      <li><span class='form-control' id="submitted-skill"><%= cv_language.language.name %></span>
        <div class="languageDelete">
          <%= link_to t("exp.delete"), cv_language, remote: true, method: :delete,class: 'btn btn-outline-secondary destroy' %>
        </div>
      </li>
    </div>
  <% end %>
</ul>
