#appliedq {
	font-size: 18px;
  border-radius: 50px;
  padding: 11px 30px;
  font-weight: 400;
}
.applied_jobs{
  margin-top: 13px;
  width: 100%;
  height: 530px;
  background: #f3edf0;
}
.table-responsive-apply{
  background: #f3edf0;
}
.job_info {
  text-align: center;
}
.center {
  text-align: center;
}
.user_name_apply{
  text-align: left;
}
.stt{
  padding: -50px;
}
