// Place all the styles related to the Applyjobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#appliedq {
	font-size: 18px;
    border-radius: 50px;
    padding: 11px 30px;
    font-weight: 400;
}
.applied_jobs{
  margin-top: 13px;
}
.table-responsive{
  background: #f3edf0;
}
.user-jobs-aready-applied{
  color: #66605b;
}
