#languageForm{
  border-radius: 8px;
  background: #dedede7d;
  margin-top: 20px;
  padding: 0px 50px;
}
.select-language select{
  margin-top: 30px;
  margin-left: -10px;
  border-radius: 6px;
  padding: 8px;
}
.submit-language{
  text-align: right;
  margin-top: 50px;
  padding-bottom: 20px;
}
.listLanguage{
  margin-top: 20px;
}
.languageDelete{
  text-align: right;
  margin-top: -38px;
}
.deleteButton{
  margin-top: 20px;
}
#submitted-skill{
  font-size: 18px;
  background-color: #e4e5e6;
}
#language{
  margin-top: 20px;
  text-align: right;
}
.add-language{
  padding: 8px 33px !important;
}

