.edit-language {
  text-align:right;
  margin-right : 1px;
}

.form_language{
  margin-left: 100px;
}
.submit-language{
  margin-left: 70%;
  width: 90%;

}

.form-popup {
  border: 2px solid #ccc;
  border-radius: 9px;
  background-color: #f8f8f8;
  width: 90%;
  border: 2px solid #ccc;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.setting-and-edit{
  background: #f5f5f5;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  font-weight: 500;
  color: #45494B;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  margin-left: 450px;
}

.btn-up {
    color: #fff;
    background-color: #00A4BB;;
    border-color: #1e7785;
}

/*
  width: 90%;
  height: 150px;
  padding-left: 1%;
  padding-right: 40%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 9px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  display: none;
  bottom: 0;
  text-align: -webkit-match-parent;
*/
