.edit-language {
  text-align:right;
  margin-right : 100px;
}

.form_language{
  margin-left: 100px;
}
.submit-language{
  margin-left: 70%;
  width: 90%;

}

.form-popup {
  border: 2px solid #ccc;
  border-radius: 9px;
  background-color: #f8f8f8;
  width: 90%;
  border: 2px solid #ccc;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

/*
  width: 90%;
  height: 150px;
  padding-left: 1%;
  padding-right: 40%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 9px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  display: none;
  bottom: 0;
  text-align: -webkit-match-parent;
*/
