// Place all the styles related to the cv_skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.CvSkillForm{
  border-radius: 8px;
  background: #dedede7d;
  margin-top: 20px;
  padding: 0px 50px;
}
.select-Skill select{
  margin-top: 30px;
  margin-left: -10px;
  border-radius: 6px;
  padding: 8px;
}
.submit-skill{
  text-align: right;
  margin-top: 50px;
  padding-bottom: 20px;
}
.listUserSkill{
  margin-top: 20px;
}
.skillDelete{
  text-align: right;
  margin-top: -38px;
}
.deleteButton{
  margin-top: 20px;
}
#submitted-skill{
  font-size: 18px;
  background-color: #e4e5e6;
}
.add-skill{
  margin-top: 20px;
  text-align: right;
}
#add-skill-button{
  padding: 8px 33px;
}
