
.edit-cv {
  text-align:right;
  margin-right : 100px;
}

.form_cv{
  margin-left: 100px;
}
.form-popup {
  border: 2px solid #ccc;
  border-radius: 9px;
  background-color: #f8f8f8;
  width: 90%;
  border: 2px solid #ccc;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}
div#myForm {
    display: none;
}
