
.edit-cv {
  text-align:right;
  margin-right : 100px;
}

.form_cv{
  margin-left: 100px;
}
.form-popup {
  border: 2px solid #ccc;
  border-radius: 9px;
  background-color: #f8f8f8;
  width: 90%;
  border: 2px solid #ccc;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

#intro_add_button{
  padding: 8px 33px;
}
.intro_section{
  text-align: right;
  margin-top: 20px;
}
.introduction_main{
  margin-top: 20px;
  padding: 15px;
}
