.form_education{
  text-align: left;
  border-radius: 8px;
  background: #dedede7d;
  margin-top: 20px;
  padding: 0px 50px;
}
#edu_add_button{
  padding: 8px 33px;
}
#education{
  margin-top: 20px;
  text-align: right;
}
.submit-education{
  text-align: right;
  margin-top: 100px;
  padding-bottom: 20px;
}
.new_education{
  padding: 30px 0px;
}
#education_yearschool{
  background: #dddddd;
}
#educations{
  padding-left: 15px;
  padding-top: 25px;
}
.edit-education{
  padding: 7px 25px !important;
}
#edu_descr{
  margin-top: 10px;
}
#edu_school{
  padding-top: 25px;
}

.edu_list_form{
  padding-bottom: 50px;
}
