.form_experience{
  text-align: left;
  border-radius: 8px;
  background: #dedede7d;
  margin-top: 20px;
  padding: 0px 50px;
}
#exp_add_button{
  padding: 8px 33px;
}
#experience{
  margin-top: 20px;
  text-align: right;
}
#experiences{
  padding-left: 15px;
  margin-top: 50px;
}
.new_experience{
  padding: 30px 0px;
}
.form_type_work_2{
  margin-left: 50px;
}
.submit-experience{
  text-align: right;
  margin-top: 100px;
  padding-bottom: 20px;
}
#exp_company_name{
  margin-top: 50px;
}
#exp_description{
  margin-top: 35px;
}
.edit-experience{
  padding: 7px 25px !important;
}
#experience_work_date{
  background: #dddddd;
}
#experience_work_date2{
  background: #dddddd;
}
