.header-front-end li {
	list-style: none;
}

.header-front-end li.nav-item.mr-4 {
	display: inline-block;
	font-size: 20px;
	padding: 11px 20px;
}

.header-front-end form.navbar-form.navbar-left {
	margin: 5px 0px;
}

.header-front-end li.nav-item.mr-3.dropdown {
  padding-top: 10px;
}

.header-front-end ul.dropdown-menu {
  top: 50px;
}

.header-front-end button.btn.btn-default {
  border-radius: 5px;
}

.main {
  background: #f1f3f4;
  min-height: 1000px;
}

.navbar.header-front-end{
	margin-bottom: 0px;
}
