.emloyer_job_img img{
  width: 100%;
}

.employment_info{
  margin-top: 100px;
}

.job_title_exp_salary{
  padding: 10px 0px;
  font-size: 18px
}

.job_infomation{
  font-size: 18px;
  margin-top: 50px;
}

.company_img_name{
  margin-left: 15px;
}
