
/*position*/
.postision {
	background-color: rgba(255,255,255,0.8);
	width: 1040px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	margin: 0 auto;
	margin-bottom: 1em;
	height: 81px;
	border-radius: 20px;
}
.postision2 {
	align-items: center;
}
.postision1 {
	margin-top: 10px;

    /*background-color: rgba(255,255,255,0.8);*/
    /*position: fixed;*/
}
.company {
	text-align left;
	display: block;
}

.header1 {
	margin-top: 70px
}

.addressCareer {
	display: flex;
}

.carreer {
	margin-right: 30px;
}

.image1 {
	/*height: 500px;*/
	width: 100%;
	margin-top: 2em;
}
.image1 img{
	width: 100%;
	height:  400px;
  object-fit: cover;
}
.image3 {
	width: 100%;
}
.d-inline img{
	width: 100px;
	height: 100px;
	border-radius: 50px;

}

.mr_3 {
	margin-right: 30px;
}
.mr_500 {
	margin-left: 220px;
}
.mt_8 {
	margin-top: 30px;
}

.mt_mb_50 {
	/*margin-top: 50px;
	margin-bottom: 50px;*/
}

.font_size {
	font-size: 15px;
}
.wt_15 {
	width-top: 15px;
}
.mr_20 {
	margin-right: 20px;
}
.jobs_related {
	background-color: #E6E6FA;
	width: 100%;
	height: 350px;
}
.wh {
	width: 253px;
	height: 207px;
}
.w_208 {
	width: 208px;
}

.circles {
	position: relative;
	width: 100%;
	height: 360px;
	background: linear-gradient(#33ccff, #ff0066);
	border-radius: 50%;
	animation: animate 0.5s linear infinite;
}

.content2 {
	position: absolute;
	width: inherit;
	height: auto;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
}
.hover-jobs .content2:hover{
	color: #1ff522;
}

/*slider*/

/* employer*/

/*@media (min-width: 1200px)*/
.col_xl_3 {
	flex: 0 0 25%;
	max-width: 25%;
}
.border_primary {
	border: 1px solid #007bff;
}
.card_header {
	padding: .75em 1.25em;
	margin-bottom: 0;
	background-color: rgba(0,0,0,.03);
	border-bottom: 1px solid rgba(0,0,0,.125)
}
.card_footer{
	padding: .75em 1.25em;
	margin-bottom: 0;
	background-color: rgba(0,0,0,.03);
	border-top: 1px solid rgba(0,0,0,.125)
}
.card {
	position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.card-body {
	flex: 1 1 auto;
    padding: 1.25rem;
}
.slide{
	background-color: #212529;
    min-height: calc(100vh - 56px);
}
.menu_icon{
	margin-top: 1.5em;
}
#details .form-group label{
	position: relative;
}
#details .form-group #exampleInputEmail1-error,#job_area-error,#job_grade-error{
	position: absolute;
}
.icon-circle i{
	margin-top: 10px;
}
.sex p{
	position: relative;
}
.sex label.error{
	position: absolute;
    top: 62px;
}
.time-job{
	position: relative;
}
#job_time_work_0 label.error{
	position: absolute;
    top: 62px;
}

.employer_job_show{
	border-left: 1px solid #e3e3e3;
}

/* layoutemploy	*/
	.sect {
	  padding: 3em ;
	  height: 100vh;
	  position: relative;
	  box-sizing: border-box;
	 }
	 .textNew {
	 		font-size: 2em;
	    text-align: center;
	    margin-top: 10%;
	    color: black;
	 }
	 .scroll {
	      width: 100%;
	      background: red;
	      display: block;
	      height: 5px;
	      margin-top: 20px;
	    }
	  .blockq {
	  	font-size: 2.3em;
	    width: 30%;
	    margin-top: 10%;
	    position: absolute;
	  }
	  .imgem {
	    position: absolute;
	  }
	  .imgem:nth-of-type(1) {
	    width: 40%;
	    right: 0;
	    top: 10%;
	  }
	  .imgem:nth-of-type(2) {
	    width: 25%;
	    right: 40%;
	    top: 10%;
	    margin-top: 15%;
	  }
	.sect:nth-child(odd) {
	  background: #f1f1f1;
	}
	.sticky {
	  background: white !important;
	}
	.button:nth-of-type(1){
		display: inline-block;
		position: absolute;
		left: 25%;
		top: 10%;
	}

.displayf {
	display: flex;
}
.skills {
	margin-top: 1em;
}
.m_3 {
	margin: 0 0 20px 5px;
}
.posiname{
	text-align: left;
	font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    color: rgba(0,0,0,0.84);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.posicompany{
	text-align: left;
	font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(0,0,0,0.84);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.members {
	margin-top: 22px;
    margin-left: -20px;
}
.exp_time_work{
	    margin-top: 10px;
}
