ul li{
  list-style: none;
}

.slider-user{
  position: relative;
}
.text-user{
  position: absolute;
  top: 56%;
  left: 35px;
}
.slider .card {
  padding: 0px 0px;
}

main{
  margin-top: 20px;
}
.h3-filter h3{
  font-size: 20px;
  color: #9DA0A4;
}
.search-job .search-query{
  position: relative;
}
.search-job .input-group-btn{
  position: absolute;
  top: 58px;
  right: 106px;
}
.search-job .input-group-btn .button-icon{
  border: none;
}
.select-top{
  margin-top: 30px;
}
.select-job .custom-select{
  width: 85%;
  padding: 5px;
  border: solid 1px #e3e3e3;
  border-radius: 3px;
  margin-top: 10px;
}
.checkbox-job{
  margin-top: 15px;
}
.checkbox-job ul{
  padding-inline-start: 0px;
}
.checkbox-job ul li{
  list-style: none;
  margin-top: 10px;
}
.checkbox-job ul li input{
  margin-left: 225px;
}

.job-right .top {
  border-bottom: 1px solid #e3e3e3;
}
.job-right p{
  margin-top: 25px;
}
.job-right .top h4{
  float: right;
  display: inline;
  font-size: 20px;
  color: #9DA0A4;
  margin-top: 21px;
}
.job-right .top ul{
  display: inline;
  float: right;
  margin-top: 20px;
}
.job-right .top ul li{
  float: right;
  font-size: 20px;
  margin-left: 25px;
}
.job-right .top ul li a{
  text-decoration: none;
  color: #333;
}
.count-job{
  border-bottom: 1px solid #cdd1da;
}
.count-job .img-job{
 margin-top: 30px;

}
.count-job .img-job img{
  width: 100%;
  height:  228px;
  object-fit: cover;
}
.count-job ul{
  display: inline;
  float: left;
  margin-top: 10px;
  padding-inline-start: 0px
}
.count-job ul li{
  float: left;
  font-size: 20px;
  margin:3px 5px;
}
.count-job ul li a{
  text-decoration: none;
  padding: 4px 20px;
  border: 1px solid #a6adb3;
  border-radius: 25px;
  font-size: 14px;
  color: #a6adb3;
}
.count-job ul li a:hover{
  border: 1px solid #2CA8FF;
  color: #2CA8FF;
}
.count-job .title-job a{
  font-size: 24px;
  text-decoration: none;
}
.count-job .about-job p{
  margin-top: 10px;
  color: #9DA0A4;
}
.count-job .name-company-job{
  margin-top: 10px;
  margin-bottom: 10px;
}
.count-job .name-company a{
  color: #24282A
}
.container-75{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#ui-id-1{
  background: #ffffff;
  border: 1px solid #333;
  width: 18%;
  padding-inline-start : 15px;
}
#ui-id-1 .ui-menu-item{
  list-style: none;
}
#ui-id-1 .ui-menu-item:hover{
  background: #f3f2ee;
}

#back_home{
  margin-left: 150px;
}
ul.tabs li.current{
  background: #ededed;
  color: #00A4BB;;
}
a.blue-a{
  color: #00A4BB !important;
}
#logo-nav{
 padding: 0px 15px;
}

.slider .text-user{
  width: 320px;
}
.slider .text-user .card-text a{
  font-size: 24px;
  font-weight: 600;
  line-height: 1.20;
  color: #fff;
  text-decoration: none;
}
.text-user p a{
  font-size: 16px !important;
}
.slider img{
   width: 100%;
  height:  455px;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}
.card-nen{
  background-color: #000;
  border: none;
}
.text-muted{
  color: #fff;
}

#li-logo a{
  padding:0px;
}

/*element.style {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 300px;
}*/
/*.row #sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  padding: 5px;
  border: 2px solid #4CAF50;
  z-index: 5;
}
*/
