.blurred-image-overlay img{
  position: absolute;
  left: 0;
  width: 100%;
  height: 320px;
  -webkit-filter: blur(5px);
  -o-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);
  background-color: #9f9f9f;
  opacity: 0.5;
}

.blurred-image-overlay{
  position: absolute;
  left: 0;
  width: 100%;
  height: 320px;
  -webkit-filter: blur(5px);
  -o-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);
  background-color: #9f9f9f;
  opacity: 0.5;
}
.profile-header-wrapper img{
  background-repeat: repeat-x;
  background-position: left bottom;
  height: 320px;
}
.profile-header-wrapper{
  background-repeat: repeat-x;
  background-position: left bottom;
  height: 320px;
}
.profile-header-cover-inner img{
  background-color: #aca6a5;
  height: 320px;
  width: 100%;
  position: relative;
}
.profile-header-cover-inner{
  background-color: #aca6a5;
  height: 320px;
  width: 100%;
  position: relative;
}

.main-inner{
  margin: 0 auto;
  width: 1150px;
}

.user_name{
  font-size: 30px;
  margin-top: -14px
}

.two-column{

}
.column-main{
  top: 15px;
  height: auto;
  border-right: 1px solid #a0a0a0;
  border-top: 1px solid #a0a0a0;
}
.column-side{
  top: 15px;
  height: auto;
  border-top: 1px solid #a0a0a0;
}
.user-profile{
  margin-top: 10px;
}

.user-introduction-div{
  margin-top: 50px;
  padding: 10px;
}
.user-skills-div{
  margin-top: 50px;
  padding: 10px;
}
.user-language-div{
  margin-top: 50px;
  padding: 10px;
}
.user-experience-div{
  margin-top: 50px;
  padding: 10px;
}
.user-education-div{
  margin-top: 50px;
  padding: 10px;
}
.user-portfolio-div{
  margin-top: 50px;
  padding: 10px;
}
.selection{
  border-style: groove;
}
.profile-header{
  position: relative;
  margin-top: -69px;
}
.profile-photo{
  margin-top: -92px;
  display: block;
  width: 150px;
  height: 150px;
  border: 1px solid #e3e3e3;
  margin-left: -10px;
  background-color: #a0a0a0;
  text-align: left;
}
.profile-photo-size img{
  width: 150px;
  height: 150px;
}
.edit-photo{
  margin-top: -20px;
}
.name-and-tagline{
  margin-left: 150px;
  margin-top: -50px;
}
.name-and-tagline a{
  color:#66605b;
}
.user-profile-aside-section{
  padding: 20px 20px 15px 20px;
  background-color: #f2fafb;
}
.jobs-aready-applied{
  border-top: 1px solid #a0a0a0;
  margin-top: 10px;
}
.user-jobs-aready-applied{
  margin-top: 10px;
  padding: 20px 20px 15px 20px;
  background-color: #f3edf0;
  color: #66605b;
}

.user-saved-jobs{
  border-top: 1px solid #a0a0a0;
  margin-top: 10px;
}
.user-all-saved-jobs{
  margin-top: 10px;
  padding: 20px 20px 15px 20px;
  background-color: #f1f0e4;
  color: #66605b;
}
.popup-edit-user-contact{

}
.contact-to-colection{
  font-size: 15px;
}
.open-button-edit-user-contact{
  background: #f5f5f5;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 13px;
  border-style: groove;
  text-align: center;
}
#profileForm-popup{
  background: #dde0e2;
  display:none; width: 100%;
}
.form-edit-user-profile-left{
  margin-top: 15px;
  text-align: left;
}
.form-edit-user-profile-center{
  text-align: center;
  margin-top: 15px;
}
.edit_delete_button{
  text-align: right;
  margin-top: 20px;
}
.submit-user-profile{
  text-align: center;
  margin-top: 20px;
}
/* Modal */
.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal_overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_body{
  width: 260px;
  height: 470px;
  background-color: var(--white-color);
  margin: auto;
  border-radius: 5px;
}

.modal-header_cover img{
  width: 97%;
  margin: 10px;
}
.modal-header-user img{
  margin: 20px 150px;
  width: 300px;
  height: 300px;
}

.edit_cover_photo{
  margin-left: 70%;
  position: absolute;
  top: -220px;
}

.cover_img a{
  color: #fff;
}

/*Apply*/
#a_b_count{
  text-align: center;
  font-size: 60px;
  margin-top: -90px;
}
