<footer>
	<hr>
	<div class="container">
		<div class="row" style="display: flex; margin-bottom: 6em">
			<div class="col-md-4">
				<h5><strong>About</strong></h5>
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Help</a></li>
					<li><a href="#">Privacy</a></li>
					<li><%= link_to "News", news_index_path %></li>
					<li><a href="#">For employers</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h5><strong>Products</strong></h5>
				<ul>
					<li><a href="#">Ruby Fashion</a></li>
					<li><a href="#">Tech Vision</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h5><strong>Languages</strong></h5>
				<ul>
				 <li><%= link_to "En", locale:"en" %></li>
					 <li><%= link_to "Vi", locale:"vi"  %></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
